@{
    ViewData["Title"] = "Bienvenido al Módulo de Compras";
}

<div class="text-center">
    <h1 class="display-4 text-primary font-weight-bold">Bienvenido al Módulo de Compras</h1>
    <p class="lead text-muted">Explora las diferentes secciones disponibles</p>
</div>
